[submodule "pcb/kicad/kicad-footprints"]
	path = pcb/kicad/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints
[submodule "pcb/kicad/Keebio-Parts.pretty"]
	path = pcb/kicad/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
